In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn import metrics
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from keras.callbacks import ModelCheckpoint
from sklearn.metrics import confusion_matrix
from itertools import chain
from scipy.stats import chisquare,chi2_contingency

Using TensorFlow backend.

### Working on Data

In [4]:
df = pd.read_csv("bank.csv")

In [5]:
df.head()
df.tail()
df.shape
df.dtypes
df.info

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

(10000, 14)

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

<bound method DataFrame.info of       RowNumber  CustomerId         Surname  CreditScore Geography  Gender  \
0             1    15634602        Hargrave          619    France  Female
1             2    15647311            Hill          608     Spain  Female
2             3    15619304            Onio          502    France  Female
3             4    15701354            Boni          699    France  Female
4             5    15737888        Mitchell          850     Spain  Female
5             6    15574012             Chu          645     Spain    Male
6             7    15592531        Bartlett          822    France    Male
7             8    15656148          Obinna          376   Germany  Female
8             9    15792365              He          501    France    Male
9            10    15592389              H?          684    France    Male
10           11    15767821          Bearce          528    France    Male
11           12    15737173         Andrews          497     Spain    Male
12           13    15632264             Kay          476    France  Female
13           14    15691483            Chin          549    France  Female
14           15    15600882           Scott          635     Spain  Female
15           16    15643966         Goforth          616   Germany    Male
16           17    15737452           Romeo          653   Germany    Male
17           18    15788218       Henderson          549     Spain  Female
18           19    15661507         Muldrow          587     Spain    Male
19           20    15568982             Hao          726    France  Female
20           21    15577657        McDonald          732    France    Male
21           22    15597945        Dellucci          636     Spain  Female
22           23    15699309       Gerasimov          510     Spain  Female
23           24    15725737          Mosman          669    France    Male
24           25    15625047             Yen          846    France  Female
25           26    15738191         Maclean          577    France    Male
26           27    15736816           Young          756   Germany    Male
27           28    15700772         Nebechi          571    France    Male
28           29    15728693      McWilliams          574   Germany  Female
29           30    15656300        Lucciano          411    France    Male
...         ...         ...             ...          ...       ...     ...
9970       9971    15587133        Thompson          518    France    Male
9971       9972    15721377            Chou          833    France  Female
9972       9973    15747927           Ch'in          758    France    Male
9973       9974    15806455          Miller          611    France    Male
9974       9975    15695474          Barker          583    France    Male
9975       9976    15666295           Smith          610   Germany    Male
9976       9977    15656062         Azikiwe          637    France  Female
9977       9978    15579969         Mancini          683    France  Female
9978       9979    15703563           P'eng          774    France    Male
9979       9980    15692664          Diribe          677    France  Female
9980       9981    15719276            T'ao          741     Spain    Male
9981       9982    15672754        Burbidge          498   Germany    Male
9982       9983    15768163         Griffin          655   Germany  Female
9983       9984    15656710           Cocci          613    France    Male
9984       9985    15696175  Echezonachukwu          602   Germany    Male
9985       9986    15586914          Nepean          659    France    Male
9986       9987    15581736        Bartlett          673   Germany    Male
9987       9988    15588839         Mancini          606     Spain    Male
9988       9989    15589329         Pirozzi          775    France    Male
9989       9990    15605622        McMillan          841     Spain    Male
9990       9991    15798964      Nkemakonam          714   Germany    Male
9991       9992    15769959     Ajuluchukwu          597    France  Female
9992       9993    15657105     Chukwualuka          726     Spain    Male
9993       9994    15569266          Rahman          644    France    Male
9994       9995    15719294            Wood          800    France  Female
9995       9996    15606229        Obijiaku          771    France    Male
9996       9997    15569892       Johnstone          516    France    Male
9997       9998    15584532             Liu          709    France  Female
9998       9999    15682355       Sabbatini          772   Germany    Male
9999      10000    15628319          Walker          792    France  Female

      Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0      42       2       0.00              1          1               1
1      41       1   83807.86              1          0               1
2      42       8  159660.80              3          1               0
3      39       1       0.00              2          0               0
4      43       2  125510.82              1          1               1
5      44       8  113755.78              2          1               0
6      50       7       0.00              2          1               1
7      29       4  115046.74              4          1               0
8      44       4  142051.07              2          0               1
9      27       2  134603.88              1          1               1
10     31       6  102016.72              2          0               0
11     24       3       0.00              2          1               0
12     34      10       0.00              2          1               0
13     25       5       0.00              2          0               0
14     35       7       0.00              2          1               1
15     45       3  143129.41              2          0               1
16     58       1  132602.88              1          1               0
17     24       9       0.00              2          1               1
18     45       6       0.00              1          0               0
19     24       6       0.00              2          1               1
20     41       8       0.00              2          1               1
21     32       8       0.00              2          1               0
22     38       4       0.00              1          1               0
23     46       3       0.00              2          0               1
24     38       5       0.00              1          1               1
25     25       3       0.00              2          0               1
26     36       2  136815.64              1          1               1
27     44       9       0.00              2          0               0
28     43       3  141349.43              1          1               1
29     29       0   59697.17              2          1               1
...   ...     ...        ...            ...        ...             ...
9970   42       7  151027.05              2          1               0
9971   34       3  144751.81              1          0               0
9972   26       4  155739.76              1          1               0
9973   27       7       0.00              2          1               1
9974   33       7  122531.86              1          1               0
9975   50       1  113957.01              2          1               0
9976   33       7  103377.81              1          1               0
9977   32       9       0.00              2          1               1
9978   40       9   93017.47              2          1               0
9979   58       1   90022.85              1          0               1
9980   35       6   74371.49              1          0               0
9981   42       3  152039.70              1          1               1
9982   46       7  137145.12              1          1               0
9983   40       4       0.00              1          0               0
9984   35       7   90602.42              2          1               1
9985   36       6  123841.49              2          1               0
9986   47       1  183579.54              2          0               1
9987   30       8  180307.73              2          1               1
9988   30       4       0.00              2          1               0
9989   28       4       0.00              2          1               1
9990   33       3   35016.60              1          1               0
9991   53       4   88381.21              1          1               0
9992   36       2       0.00              1          1               0
9993   28       7  155060.41              1          1               0
9994   29       2       0.00              2          0               0
9995   39       5       0.00              2          1               0
9996   35      10   57369.61              1          1               1
9997   36       7       0.00              1          0               1
9998   42       3   75075.31              2          1               0
9999   28       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
5           149756.71       1
6            10062.80       0
7           119346.88       1
8            74940.50       0
9            71725.73       0
10           80181.12       0
11           76390.01       0
12           26260.98       0
13          190857.79       0
14           65951.65       0
15           64327.26       0
16            5097.67       1
17           14406.41       0
18          158684.81       0
19           54724.03       0
20          170886.17       0
21          138555.46       0
22          118913.53       1
23            8487.75       0
24          187616.16       0
25          124508.29       0
26          170041.95       0
27           38433.35       0
28          100187.43       0
29           53483.21       0
...               ...     ...
9970        119377.36       0
9971        166472.81       0
9972        171552.02       0
9973        157474.10       0
9974         13549.24       0
9975        196526.55       1
9976         84419.78       0
9977         24991.92       0
9978        191608.97       0
9979          2988.28       0
9980         99595.67       0
9981         53445.17       1
9982        115146.40       1
9983        151325.24       0
9984         51695.41       0
9985         96833.00       0
9986         34047.54       0
9987          1914.41       0
9988         49337.84       0
9989        179436.60       0
9990         53667.08       0
9991         69384.71       1
9992        195192.40       0
9993         29179.52       0
9994        167773.55       0
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [6]:
df.isnull().values.any()
df.isnull().sum().sum()
df.isna().values.any()
df.isna().sum().sum()
df.describe()
df.describe().transpose()

False

0

False

0

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

### Drop the columns which are unique for all users like IDs

In [7]:
#dropping RowNumber, CustomerId, Surname
df.drop(columns = ["RowNumber","CustomerId","Surname"], axis =1, inplace =True)

#### Encoding Catergorical Features

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [9]:
labelencoder= LabelEncoder()

In [10]:
df['Gender']=labelencoder.fit_transform(df['Gender'])

In [11]:
Geography =  pd.get_dummies(df["Geography"])

In [12]:
df = pd.concat([df, Geography],axis=1)

In [13]:
df.drop(columns = ["Geography"], inplace =True, axis = 1)

In [14]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

### Target and Feature - Train Test Split

In [15]:
X = df.drop(columns = ["Exited"])
y = df["Exited"]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 15,stratify=y)

### Standardizing the data

In [17]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\rajan\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\rajan\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\rajan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype uint8, int32, int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

## Model Building

In [18]:
from keras.models import Sequential
from keras.layers import Dense

In [19]:
classifier = Sequential()

In [20]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 12))
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the third hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

WARNING:tensorflow:From C:\Users\rajan\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\rajan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=12, units=6, kernel_initializer="uniform")`

C:\Users\rajan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\rajan\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

C:\Users\rajan\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

In [21]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [22]:
classifier.fit(X_train, y_train, batch_size=30, epochs=100)

WARNING:tensorflow:From C:\Users\rajan\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
7000/7000 [==============================] - 1s 156us/step - loss: 0.5823 - acc: 0.7946
Epoch 2/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.4305 - acc: 0.7963
Epoch 3/100
7000/7000 [==============================] - 0s 29us/step - loss: 0.4192 - acc: 0.7963
Epoch 4/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.4131 - acc: 0.7963
Epoch 5/100
7000/7000 [==============================] - 0s 29us/step - loss: 0.4069 - acc: 0.7963
Epoch 6/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.4008 - acc: 0.8136
Epoch 7/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3957 - acc: 0.8296
Epoch 8/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3916 - acc: 0.8293
Epoch 9/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3873 - acc: 0.8309
Epoch 10/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3835 - acc: 0.8299
Epoch 11/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3806 - acc: 0.8339
Epoch 12/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3769 - acc: 0.8394
Epoch 13/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3742 - acc: 0.8437
Epoch 14/100
7000/7000 [==============================] - ETA: 0s - loss: 0.3750 - acc: 0.848 - 0s 27us/step - loss: 0.3714 - acc: 0.8486
Epoch 15/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3693 - acc: 0.8514
Epoch 16/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3678 - acc: 0.8493
Epoch 17/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3663 - acc: 0.8510
Epoch 18/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3654 - acc: 0.8534
Epoch 19/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3635 - acc: 0.8529
Epoch 20/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3628 - acc: 0.8541
Epoch 21/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3611 - acc: 0.8540
Epoch 22/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3600 - acc: 0.8544
Epoch 23/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3595 - acc: 0.8556
Epoch 24/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3590 - acc: 0.8544
Epoch 25/100
7000/7000 [==============================] - 0s 29us/step - loss: 0.3581 - acc: 0.8589
Epoch 26/100
7000/7000 [==============================] - 0s 30us/step - loss: 0.3573 - acc: 0.8567
Epoch 27/100
7000/7000 [==============================] - 0s 31us/step - loss: 0.3564 - acc: 0.8574
Epoch 28/100
7000/7000 [==============================] - 0s 30us/step - loss: 0.3558 - acc: 0.8571
Epoch 29/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3556 - acc: 0.8566
Epoch 30/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3544 - acc: 0.8569
Epoch 31/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3549 - acc: 0.8583
Epoch 32/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3530 - acc: 0.8591
Epoch 33/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3534 - acc: 0.8570
Epoch 34/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3537 - acc: 0.8566
Epoch 35/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3524 - acc: 0.8570
Epoch 36/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3522 - acc: 0.8559
Epoch 37/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3519 - acc: 0.8581
Epoch 38/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3511 - acc: 0.8590
Epoch 39/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3515 - acc: 0.8571
Epoch 40/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3507 - acc: 0.8586
Epoch 41/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3509 - acc: 0.8559
Epoch 42/100
7000/7000 [==============================] - 0s 29us/step - loss: 0.3507 - acc: 0.8587
Epoch 43/100
7000/7000 [==============================] - 0s 31us/step - loss: 0.3500 - acc: 0.8600
Epoch 44/100
7000/7000 [==============================] - 0s 29us/step - loss: 0.3506 - acc: 0.8584
Epoch 45/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3501 - acc: 0.8583
Epoch 46/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3497 - acc: 0.8557
Epoch 47/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3486 - acc: 0.8607
Epoch 48/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3497 - acc: 0.8599
Epoch 49/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3483 - acc: 0.8613
Epoch 50/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3487 - acc: 0.8596
Epoch 51/100
7000/7000 [==============================] - 0s 29us/step - loss: 0.3485 - acc: 0.8589
Epoch 52/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3491 - acc: 0.8600
Epoch 53/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3476 - acc: 0.8577
Epoch 54/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3482 - acc: 0.8581
Epoch 55/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3490 - acc: 0.8579
Epoch 56/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3466 - acc: 0.8610
Epoch 57/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3482 - acc: 0.8609
Epoch 58/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3483 - acc: 0.8590
Epoch 59/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3472 - acc: 0.8590
Epoch 60/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3478 - acc: 0.8609
Epoch 61/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3472 - acc: 0.8607
Epoch 62/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3458 - acc: 0.8597
Epoch 63/100
7000/7000 [==============================] - 0s 31us/step - loss: 0.3466 - acc: 0.8606
Epoch 64/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3465 - acc: 0.8614
Epoch 65/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3472 - acc: 0.8591
Epoch 66/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3467 - acc: 0.8587
Epoch 67/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3472 - acc: 0.8587
Epoch 68/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3465 - acc: 0.8603
Epoch 69/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3467 - acc: 0.8590
Epoch 70/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3470 - acc: 0.8596
Epoch 71/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3461 - acc: 0.8607
Epoch 72/100
7000/7000 [==============================] - 0s 29us/step - loss: 0.3456 - acc: 0.8597
Epoch 73/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3460 - acc: 0.8610
Epoch 74/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3462 - acc: 0.8600
Epoch 75/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3459 - acc: 0.8619
Epoch 76/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3463 - acc: 0.8597
Epoch 77/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3459 - acc: 0.8603
Epoch 78/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3460 - acc: 0.8596
Epoch 79/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3447 - acc: 0.8576
Epoch 80/100

7000/7000 [==============================] - 0s 27us/step - loss: 0.3449 - acc: 0.8606
Epoch 81/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3461 - acc: 0.8606
Epoch 82/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3457 - acc: 0.8587
Epoch 83/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3466 - acc: 0.8610
Epoch 84/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3457 - acc: 0.8599
Epoch 85/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3449 - acc: 0.8596
Epoch 86/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3461 - acc: 0.8573
Epoch 87/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3451 - acc: 0.8604
Epoch 88/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3459 - acc: 0.8584
Epoch 89/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3448 - acc: 0.8599
Epoch 90/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3451 - acc: 0.8603
Epoch 91/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3450 - acc: 0.8570
Epoch 92/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3453 - acc: 0.8587
Epoch 93/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3444 - acc: 0.8590
Epoch 94/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3448 - acc: 0.8620
Epoch 95/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3448 - acc: 0.8587
Epoch 96/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3440 - acc: 0.8606
Epoch 97/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3444 - acc: 0.8616
Epoch 98/100
7000/7000 [==============================] - 0s 27us/step - loss: 0.3449 - acc: 0.8626
Epoch 99/100
7000/7000 [==============================] - 0s 26us/step - loss: 0.3442 - acc: 0.8589
Epoch 100/100
7000/7000 [==============================] - 0s 28us/step - loss: 0.3445 - acc: 0.8596

## Prediction and Accuracy

In [23]:
y_pred = classifier.predict(X_test)

In [24]:
acc=metrics.accuracy_score(y_test,y_pred > 0.5)
print(acc)

0.86